@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Raleway;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
}

header {
    display: grid;
    width: 100%;
    height: 665px;
    gap: 0px;
    border-bottom: 1px solid #33A8DB;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.6)0%, 
                                               rgba(49, 168, 221, 0.20)50%,
                                               rgba(49, 168, 221, 0)100%);
    position: relative; /* Adiciona posição relativa para que a imagem de fundo fique dentro deste contexto */
    overflow: hidden;
}

#banner_fundo {
    width: 100%; /* A largura ocupa 100% da div */
    height: auto; /* Permite que a altura da imagem aumente proporcionalmente à largura */
    min-height: 100%; /* Garante que a imagem ocupe no mínimo 100% da altura da div */
    min-width: 1440px; /* Garante que a largura mínima da imagem seja de 1440px */
    position: absolute;
    top: 0;
    opacity: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content {
    width: 665px;
    height: 390px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 67px;
    margin-bottom: 56px;
    gap: 16px;
    display: grid;
    place-items: center;
}

.banner-content h1 {
    width: 484px;
    height: 49px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin: 3px auto 4px;
    text-align: center;
    background-image: -webkit-linear-gradient(rgba(51, 168, 219, 1), 
                                              rgba(20, 114, 183, 1));
    background-clip: text;
    color: transparent;
}

.banner-content p {
    width: 665px;
    height: 56px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.4px;
    margin: 0;
    text-align: center;
}

.logo {
    width: 284px;
    height: 284px;
    display: flex;
    object-fit: contain;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 252px;
    position: relative;
    margin: 27px auto;
}

.banner-content button {
    position: absolute;
    width: 351px;
    height: 61px;
    margin: 546px auto -38px;
    border-width: 3px;
    border-image: linear-gradient(180deg, rgba(59, 161, 205, 1),
                                          rgba(21, 114, 183, 1)) 1;
    padding: 1.9px 9.1px;
    background-color: #ffffff00;
    color: rgba(49, 168, 221, 1);
    font-family: Raleway;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4.3px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    position: relative;
    display: grid;
}

#course-content {
    width: 100%;
    height: 510px;
    position: relative;
}

#transform-world {
    width: 100%;
    height: 558px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(51, 168, 219, 1);
    background-size: contain;
    overflow: hidden;
    align-content: center;
}

#transform-world img {
    width: 1439px;
    position: fixed;
}

#professional-challenges {
    width: 100%;
    height: 965px;
    position: relative;
    text-align: center;
    margin-top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#professional-challenges h2 {
    width: 746px;
    height: 76px;
    margin: 100px auto 54px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgba(51, 168, 219, 1);
}

#professional-challenges img {
    width: 659px;
    height: auto;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
    margin: 36px auto 80px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

footer {
    width: 100%;
    height: 205px;
    position: relative;
    display: inline-block;
    background: -webkit-linear-gradient(rgba(51, 168, 219, 0)15%,
                                        rgba(51, 168, 219, 0.2)100%,
                                        rgba(51, 168, 219, 0.2)100%);
}

